header.main {
	background:$primary-color;
	color:white;
	width:100%;
	min-height:187px;
	.inner {
		.top {
			padding:15px 0px 15px 0px;
			@extend .clearfix;
		}
		.center {
			padding:30px 0px 30px 0px;
			.logo {
				float:left;
				max-width:500px;
				font-size:25px;
			}
			.users {
				float:right;
				max-width:500px;
			}
			@extend .clearfix;
		}
		.bottom {
			padding:15px 0px 15px 0px;
			@extend .clearfix;
		}
		max-width:1224px;
		margin: 0 auto;
	}
}
header.darkened-line{
	background:$dark-primary-color;
	height:15px;
	width:100%;
}