<header class="darkened-line"></header>
<header class="main">
	<div class="inner">
		<nav class="top">test</nav>
		<nav class="center">
			<div class="logo">New Apps Prototype</div>
			<div class="users">
				TESTING :D
			</div>
		</nav>
		<nav class="bottom">test</nav>
	</div>
</header>