<header class="main">
	<div class="inner">
		<nav class="top">
			<div class="left">
				<ul>
					<li><a href="">Twitter</a></li>
					<li><a href="">Facebook</a></li>
					<li><a href="">Mashable</a></li>
					<li><a href="">Github</a></li>
				</ul>
			</div>
			<div class="right">
				<ul>
					<li><a href="">Register</a></li>
					<li><a href="">Login</a></li>
				</ul>
			</div>
		</nav>
		<nav class="center">
			<div class="logo">New Apps Prototype</div>
			<div class="users">
				<ul> 
					<li><a href=""><div class="text">+</div></a></li>
					<li><a href="" style="background-image:url(https://s3.amazonaws.com/uifaces/faces/twitter/jadlimcaco/128.jpg)"></a></li>
					<li><a href="" style="background-image:url(https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg)"></a></li>
					<li><a href="" style="background-image:url(https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg)"></a></li>
				</ul>
			</div>
		</nav>
		<nav class="bottom">
			<ul>
				<li><a href="" class="active">Android</a></li>
				<li><a href="">iPhone</a></li>
				<li><a href="">Windows Phone</a></li>
				<li><a href="">Mac OS</a></li>
				<li><a href="">Windows</a></li>
			</ul>
			<div class="floating_button">
				<button><div class="text">+</div></button>
			</div>
		</nav>
	</div>
</header>